.tomato{
    background-color: tomato;
    text-align: center;
}
.orange{
    background-color: orange;
    text-align: center;
}
.dodgerblue{
    background-color: dodgerblue;
    text-align: center;
}
.mediumseagreen{
    background-color: mediumseagreen;
    text-align: center;
}
.gray{
    background-color: grey;
    text-align: center;
}
.slateblue{
    background-color: slateblue;
    text-align: center;
}

.violet{
    background-color: violet;
    text-align: center;
}

.lightgrey{
    background-color: lightgray;
    text-align: center;
}